<!--Start BreadCrumb-->
<div class="breadcrumb primary-bg br-0 mb-0">
  <span class="breadcrumb-item text-white cursor-pointer">Home</span>
  <span class="breadcrumb-item text-white"><i class="fa fa-angle-right"></i></span>
  <span class="breadcrumb-item text-white cursor-pointer">History</span>
  <span class="breadcrumb-item text-white"><i class="fa fa-angle-right"></i></span>
  <span class="breadcrumb-item text-white cursor-pointer">Project Details</span>
</div>
<!--End BreadCrumb-->

<!--Start Section About-->
<div class="section-about" style="background: #EAEEF2">
  <div class="mx-lg-4 py-4 px-lg-4">
    <div class="row px-0 mx-0">
      <div class="col-lg-8 col-12 mx-auto">
        <h2 class="pt-lg-4 primary-text text-left fs-25 font-weight-bold" style="line-height: 1.5;">
          Al ahlam constructions company project
        </h2>
        <div class="mt-4">
          <img src="assets/imgs/event-details.png" alt="event image" class="w-100 img-fluid b-6">
        </div>
        <div class="by pt-3 text-left">
          <span class="fs-13 dark-text-alt">Date:</span><span class="primary-text"> 15 August 2018</span>
        </div>
        <div class="heading py-4">
          <h3 class="fs-20 font-weight-bold dark-text-alt text-left">Project Description</h3>
          <p class="fs-16 dark-text-alt text-left">
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
            Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
            Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem
            Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable
            source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes
            of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular
            during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in
            section 1.10.32.
          </p>
        </div>
        <div class="row mx-0">
          <div class="col-lg-6 col-12 pl-lg-0">
            <img src="assets/imgs/products/pro-1.png" alt="project image" class="img-fluid w-100">
            <figcaption class="fs-14 primary-text text-left pt-1">Description of image</figcaption>
          </div>
          <div class="col-lg-6 col-12 pr-lg-0">
            <img src="assets/imgs/products/pro-2.png" alt="project image" class="img-fluid w-100">
            <figcaption class="fs-14 primary-text text-left pt-1">Description of image</figcaption>
          </div>
        </div>
        <p class="pt-lg-4 fs-16 dark-text-alt text-left">
          Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
          Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
          Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem
          Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable
          source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes
          of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular
          during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in
          section 1.10.32.
        </p>
        <div class="mt-lg-5 mt-2 text-left">
          <span class="fs-20 font-weight-bold dark-text-alt pr-3">Share :</span>
          <a href="#" class="d-inline-block" title="FaceBook">
            <img class="mx-1" src="assets/imgs/icons/facebook-b.png" width="20" height="20" alt="social link" />
          </a>
          <a href="#" class="d-inline-block" title="Twitter">
            <img class="mx-1" src="assets/imgs/icons/twitter-b.png" width="20" height="20" alt="social link" />
          </a>
          <a href="#" class="d-inline-block" title="LinkedIn">
            <img class="mx-1" src="assets/imgs/icons/linkedin-b.png" width="20" height="20" alt="social link" />
          </a>
        </div>
      </div>
    </div>
    <!--Start Section news-events-->
    <div class="section-news-events pb-0" style="background: #EAEEF2;">
      <div class="text-center pb-lg-5">
        <h2 class="text-center text-uppercase primary-text font-weight-bold fs-25 d-block">
          Related Projects
        </h2>
      </div>
      <div class="news-box">
        <div class="row px-0 mx-0">
          <!--Start Repeatable col-->
          <div class="col-lg-4 col-md-6 col-12 mb-3 b-6">
            <div class="card b-6 border-0">
              <img class="card-img-top img-fluid b-6" src="assets/imgs/news/news-1.png" alt="news" />
              <div class="card-body px-0">
                <h4 class="card-title text-left fs-20 font-weight-bold dark-text-alt">
                  Title of first news goes here
                </h4>
                <p class="card-text text-left fs-16 dark-text-alt">
                  dummy text of the printing and typesetting industry. Lorem ...
                </p>
              </div>
            </div>
          </div>
          <!--End Repeatable col-->

          <!--Start Repeatable col-->
          <div class="col-lg-4 col-md-6 col-12 mb-3 b-6">
            <div class="card b-6 border-0">
              <img class="card-img-top img-fluid b-6" src="assets/imgs/news/news-2.png" alt="news" />
              <div class="card-body px-0">
                <h4 class="card-title text-left fs-20 font-weight-bold dark-text-alt">
                  Title of first news goes here
                </h4>
                <p class="card-text text-left fs-16 dark-text-alt">
                  dummy text of the printing and typesetting industry. Lorem ...
                </p>
              </div>
            </div>
          </div>
          <!--End Repeatable col-->
          <!--Start Repeatable col-->
          <div class="col-lg-4 col-md-6 col-12 mb-3 b-6">
            <div class="card b-6 border-0">
              <img class="card-img-top img-fluid b-6" src="assets/imgs/news/news-3.png" alt="news" />
              <div class="card-body px-0">
                <h4 class="card-title text-left fs-20 font-weight-bold dark-text-alt">
                  Title of first news goes here
                </h4>
                <p class="card-text text-left fs-16 dark-text-alt">
                  dummy text of the printing and typesetting industry. Lorem ...
                </p>
              </div>
            </div>
          </div>
          <!--End Repeatable col-->
        </div>

      </div>
    </div>
    <!--End Section news-events-->
  </div>
</div>
<!--End Section About-->