<!--Start BreadCrumb-->
<div class="breadcrumb primary-bg br-0 mb-0">
  <span class="breadcrumb-item text-white cursor-pointer">Home</span>
  <span class="breadcrumb-item text-white"><i class="fa fa-angle-right"></i></span>
  <span class="breadcrumb-item text-white cursor-pointer">History</span>
</div>
<!--End BreadCrumb-->
<!--Start Section news-events-->
<div class="section-news-events" style="background: #EAEEF2;">
  <div class="text-center pb-lg-5">
    <h2 class="text-center text-uppercase primary-text font-weight-bold fs-45 d-block">
      TRI-CHEM Projects
    </h2>
  </div>
  <div class="news-box p-lg-3">
    <div class="row px-0 mx-0">
      <!--Start Repeatable col-->
      <div class="col-lg-4 col-md-6 col-12 mb-3 b-6">
        <div class="card b-6 border-0">
          <img class="card-img-top img-fluid b-6" src="assets/imgs/news/news-1.png" alt="news" />
          <div class="card-body">
            <h4 class="card-title text-left fs-20 font-weight-bold dark-text-alt">
              Title of first news goes here
            </h4>
            <p class="card-text text-left fs-16 dark-text-alt">
              dummy text of the printing and typesetting industry. Lorem ...
            </p>
          </div>
        </div>
      </div>
      <!--End Repeatable col-->

      <!--Start Repeatable col-->
      <div class="col-lg-4 col-md-6 col-12 mb-3 b-6">
        <div class="card b-6 border-0">
          <img class="card-img-top img-fluid b-6" src="assets/imgs/news/news-2.png" alt="news" />
          <div class="card-body">
            <h4 class="card-title text-left fs-20 font-weight-bold dark-text-alt">
              Title of first news goes here
            </h4>
            <p class="card-text text-left fs-16 dark-text-alt">
              dummy text of the printing and typesetting industry. Lorem ...
            </p>
          </div>
        </div>
      </div>
      <!--End Repeatable col-->

      <!--Start Repeatable col-->
      <div class="col-lg-4 col-md-6 col-12 mb-3 b-6">
        <div class="card b-6 border-0">
          <img class="card-img-top img-fluid b-6" src="assets/imgs/news/news-3.png" alt="news" />
          <div class="card-body">
            <h4 class="card-title text-left fs-20 font-weight-bold dark-text-alt">
              Title of first news goes here
            </h4>
            <p class="card-text text-left fs-16 dark-text-alt">
              dummy text of the printing and typesetting industry. Lorem ...
            </p>
          </div>
        </div>
      </div>
      <!--End Repeatable col-->
      <!--Start Repeatable col-->
      <div class="col-lg-4 col-md-6 col-12 mb-3 b-6">
        <div class="card b-6 border-0">
          <img class="card-img-top img-fluid b-6" src="assets/imgs/news/news-3.png" alt="news" />
          <div class="card-body">
            <h4 class="card-title text-left fs-20 font-weight-bold dark-text-alt">
              Title of first news goes here
            </h4>
            <p class="card-text text-left fs-16 dark-text-alt">
              dummy text of the printing and typesetting industry. Lorem ...
            </p>
          </div>
        </div>
      </div>
      <!--End Repeatable col-->
      <!--Start Repeatable col-->
      <div class="col-lg-4 col-md-6 col-12 mb-3 b-6">
        <div class="card b-6 border-0">
          <img class="card-img-top img-fluid b-6" src="assets/imgs/news/news-3.png" alt="news" />
          <div class="card-body">
            <h4 class="card-title text-left fs-20 font-weight-bold dark-text-alt">
              Title of first news goes here
            </h4>
            <p class="card-text text-left fs-16 dark-text-alt">
              dummy text of the printing and typesetting industry. Lorem ...
            </p>
          </div>
        </div>
      </div>
      <!--End Repeatable col-->
      <!--Start Repeatable col-->
      <div class="col-lg-4 col-md-6 col-12 mb-3 b-6">
        <div class="card b-6 border-0">
          <img class="card-img-top img-fluid b-6" src="assets/imgs/news/news-3.png" alt="news" />
          <div class="card-body">
            <h4 class="card-title text-left fs-20 font-weight-bold dark-text-alt">
              Title of first news goes here
            </h4>
            <p class="card-text text-left fs-16 dark-text-alt">
              dummy text of the printing and typesetting industry. Lorem ...
            </p>
          </div>
        </div>
      </div>
      <!--End Repeatable col-->
      <!--Start Repeatable col-->
      <div class="col-lg-4 col-md-6 col-12 mb-3 b-6">
        <div class="card b-6 border-0">
          <img class="card-img-top img-fluid b-6" src="assets/imgs/news/news-3.png" alt="news" />
          <div class="card-body">
            <h4 class="card-title text-left fs-20 font-weight-bold dark-text-alt">
              Title of first news goes here
            </h4>
            <p class="card-text text-left fs-16 dark-text-alt">
              dummy text of the printing and typesetting industry. Lorem ...
            </p>
          </div>
        </div>
      </div>
      <!--End Repeatable col-->
      <!--Start Repeatable col-->
      <div class="col-lg-4 col-md-6 col-12 mb-3 b-6">
        <div class="card b-6 border-0">
          <img class="card-img-top img-fluid b-6" src="assets/imgs/news/news-3.png" alt="news" />
          <div class="card-body">
            <h4 class="card-title text-left fs-20 font-weight-bold dark-text-alt">
              Title of first news goes here
            </h4>
            <p class="card-text text-left fs-16 dark-text-alt">
              dummy text of the printing and typesetting industry. Lorem ...
            </p>
          </div>
        </div>
      </div>
      <!--End Repeatable col-->
      <!--Start Repeatable col-->
      <div class="col-lg-4 col-md-6 col-12 mb-3 b-6">
        <div class="card b-6 border-0">
          <img class="card-img-top img-fluid b-6" src="assets/imgs/news/news-3.png" alt="news" />
          <div class="card-body">
            <h4 class="card-title text-left fs-20 font-weight-bold dark-text-alt">
              Title of first news goes here
            </h4>
            <p class="card-text text-left fs-16 dark-text-alt">
              dummy text of the printing and typesetting industry. Lorem ...
            </p>
          </div>
        </div>
      </div>
      <!--End Repeatable col-->
    </div>
    <div class="row px-0 mx-0 pt-lg-5 pb-lg-3">
      <nav aria-label="Page navigation example" class="mx-auto">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item active"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">5</a></li>
          <li class="page-item"><a class="page-link" href="#">6</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<!--End Section news-events-->