<!--Start Main Page Slider-->
<div
  id="carouselId"
  class="carousel slide carousel-fade"
  data-ride="carousel"
  data-interval="3000"
  data-pause="false"
>
  <ol class="bullets carousel-indicators">
    <li data-target="#carouselId" data-slide-to="0" class="active"></li>
    <li data-target="#carouselId" data-slide-to="1"></li>
    <li data-target="#carouselId" data-slide-to="2"></li>
    <li data-target="#carouselId" data-slide-to="3"></li>
    <li data-target="#carouselId" data-slide-to="4"></li>
    <li data-target="#carouselId" data-slide-to="5"></li>
    <li data-target="#carouselId" data-slide-to="6"></li>
    <li data-target="#carouselId" data-slide-to="7"></li>
    <li data-target="#carouselId" data-slide-to="8"></li>
    <li data-target="#carouselId" data-slide-to="9"></li>
    <li data-target="#carouselId" data-slide-to="10"></li>
    <li data-target="#carouselId" data-slide-to="11"></li>
    <li data-target="#carouselId" data-slide-to="12"></li>
    <li data-target="#carouselId" data-slide-to="13"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <!-- Start Repeatable Carousel Item-->

    <!-- <div id="jkfd" *ngIf="hide" class="carousel-caption">
      <div class="row px-0 mx-0">
        <div class="col-12 d-lg-table centered-caption">
          <div
            class="d-lg-table-cell align-middle cap-text-container text-center"
          >
            <h1
              class="fs-45 text-uppercase text-white d-block font-weight-bold"
            >
              {{ 'home.sliderTitle' | translate }}
            </h1>
            <p class="fs-16 mt-lg-5 pt-lg-4 text-white d-block">
              {{ 'home.sliderContect1' | translate }} <br />
              {{ 'home.sliderContect2' | translate }}
            </p>
            <div class="d-block mt-lg-5 text-center">
              <a
                [routerLink]="['/categories']"
                routerLinkActive="router-link-active"
                href="#"
                class="btn primary-alt-bg text-white b-18 py-2 px-5"
              >
                {{ 'home.ourProducts' | translate }}</a
              >
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div class="carousel-item">
      <img
        class="img-fluid d-block basic-bg"
        style="width: 100%"
        src="assets/imgs/Slider/1.png"
        alt="First slide"
      />
    </div>
    <!-- End Repeatable  Carousel Item-->
    <!-- Start Repeatable  Carousel Item-->
    <div class="carousel-item">
      <img
        class="img-fluid d-block basic-bg"
        style="width: 100%"
        src="assets/imgs/Slider/2.png"
        alt="First slide"
      />
    </div>
    <!-- End Repeatable  Carousel Item-->
    <!-- Start Repeatable  Carousel Item-->
    <div class="carousel-item">
      <img
        class="img-fluid d-block basic-bg"
        style="width: 100%"
        src="assets/imgs/Slider/3.png"
        alt="First slide"
      />
    </div>
    <!-- End Repeatable  Carousel Item-->
    <!-- Start Repeatable  Carousel Item-->
    <div class="carousel-item">
      <img
        class="img-fluid d-block basic-bg"
        style="width: 100%"
        src="assets/imgs/Slider/4.png"
        alt="First slide"
      />
    </div>
    <!-- End Repeatable  Carousel Item-->

    <div class="carousel-item">
      <img
        class="img-fluid d-block basic-bg"
        style="width: 100%"
        src="assets/imgs/Slider/5.png"
        alt="First slide"
      />
    </div>

    <div class="carousel-item">
      <img
        class="img-fluid d-block basic-bg"
        style="width: 100%"
        src="assets/imgs/Slider/6.png"
        alt="First slide"
      />
    </div>

    <div class="carousel-item">
      <img
        class="img-fluid d-block basic-bg"
        style="width: 100%"
        src="assets/imgs/Slider/7.png"
        alt="First slide"
      />
    </div>

    <div class="carousel-item">
      <img
        class="img-fluid d-block basic-bg"
        style="width: 100%"
        src="assets/imgs/Slider/8.png"
        alt="First slide"
      />
    </div>

    <div class="carousel-item">
      <img
        class="img-fluid d-block basic-bg"
        style="width: 100%"
        src="assets/imgs/Slider/9.png"
        alt="First slide"
      />
    </div>

    <div class="carousel-item">
      <img
        class="img-fluid d-block basic-bg"
        style="width: 100%"
        src="assets/imgs/Slider/10.png"
        alt="First slide"
      />
    </div>

    <div class="carousel-item">
      <img
        class="img-fluid d-block basic-bg"
        style="width: 100%"
        src="assets/imgs/Slider/11.png"
        alt="First slide"
      />
    </div>

    <div class="carousel-item">
      <img
        class="img-fluid d-block basic-bg"
        style="width: 100%"
        src="assets/imgs/Slider/12.png"
        alt="First slide"
      />
    </div>

    <div class="carousel-item">
      <img
        class="img-fluid d-block basic-bg"
        style="width: 100%"
        src="assets/imgs/Slider/13.png"
        alt="First slide"
      />
    </div>

    <div class="carousel-item  active">
      <img
        class="img-fluid d-block basic-bg"
        style="width: 100%"
        src="assets/imgs/Slider/1.gif"
        alt="First slide"
      />
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselId"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselId"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!--End Main Page Slider-->

<!--Start Section About-->
<div class="section-about" style="background: #EAEEF2">
  <div class="white-card bg-white mx-lg-4 py-lg-4 px-lg-4">
    <div class="row px-0 mx-0">
      <div class="col-lg-7 col-12">
        <h2 class="pt-lg-4 text-uppercase text-left fs-45 font-weight-bold">
          {{ 'home.chairmanTitle' | translate }}
        </h2>
        <p class="pt-lg-4 fs-16 dark-text-alt text-left">
          {{ 'home.chairmanContect1' | translate }}
        </p>
        <p class="pt-lg-4 fs-16 dark-text-alt text-left">
          {{ 'home.chairmanContect2' | translate }}
        </p>
        <div class="pt-lg-4 text-lg-left text-center mb-lg-0 mb-3">
          <a
            [routerLink]="['/aboutUs']"
            routerLinkActive="router-link-active"
            href="#"
            class="btn fs-16 primary-text b-18 py-1 px-5 primary-border"
            >{{ 'header.aboutUs' | translate }}</a
          >
        </div>
      </div>
      <div class="col-lg-5 col-12">
        <!--Start Slider Inside Section About-->
        <div id="carouselId2" class="carousel slide" data-ride="carousel">
          <ol class="bullets carousel-indicators">
            <li
              data-target="#carouselId2"
              data-slide-to="0"
              class="active"
            ></li>
            <li data-target="#carouselId2" data-slide-to="1"></li>
            <li data-target="#carouselId2" data-slide-to="2"></li>
            <li data-target="#carouselId2" data-slide-to="3"></li>
            <li data-target="#carouselId2" data-slide-to="4"></li>
          </ol>
          <div
            class="carousel-inner"
            role="listbox"
            style="width:100%; height:100%"
          >
            <!-- Start Repeatable DIV-->
            <div class="carousel-item active" style="height: 400px;">
              <img
                class="h-100 w-100"
                src="assets/imgs/chairman/1.jpeg"
                alt="First slide"
              />
            </div>
            <!-- End Repeatable DIV-->
            <!-- Start Repeatable DIV-->
            <div class="carousel-item" style="height: 400px;">
              <img
                class="h-100 w-100"
                src="assets/imgs/chairman/2.jpeg"
                alt="First slide"
              />
            </div>
            <!-- End Repeatable DIV-->
            <!-- Start Repeatable DIV-->
            <div class="carousel-item" style="height: 400px;">
              <img
                class="h-100 w-100"
                src="assets/imgs/chairman/3.jpeg"
                alt="First slide"
              />
            </div>
            <!-- End Repeatable DIV-->
            <!-- Start Repeatable DIV-->
            <div class="carousel-item" style="height: 400px;">
              <img
                class="h-100 w-100"
                src="assets/imgs/chairman/4.jpeg"
                alt="First slide"
              />
            </div>

            <div class="carousel-item" style="height: 400px;">
              <img
                class="h-100 w-100"
                src="assets/imgs/chairman/5.jpeg"
                alt="First slide"
              />
            </div>
            <!-- End Repeatable DIV-->
          </div>
        </div>
        <!--End Slider Inside Section About-->
      </div>
    </div>
  </div>
</div>
<!--End Section About-->

<!-- start section vidoes -->
<div class="section-about" style="background: #EAEEF2">
  <div class="white-card bg-white mx-lg-4 py-lg-4 px-lg-4">
    <div class="row mx-0">
      <div class="col-12">
        <h2 class="py-4 text-uppercase text-left fs-45 font-weight-bold">
          {{ 'home.promo' | translate }}
        </h2>
      </div>
    </div>
    <div class="row mx-0">
      <div class="col-lg-4 col-12 mb-lg-2 mb-4">
        <iframe
          class="w-100"
          height="315"
          src="https://www.youtube.com/embed/5W4Gr_r9c_4?modestbranding=1"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
      <div class="col-lg-4 col-12 mb-lg-2 mb-4">
        <iframe
          class="w-100"
          height="315"
          src="https://www.youtube.com/embed/Vsk3uyFxPQQ?modestbranding=1"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="col-lg-4 col-12 mb-lg-2 mb-4">
        <iframe
          class="w-100"
          height="315"
          src="https://www.youtube.com/embed/K-mN2qjitlw?modestbranding=1"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>
<!-- end section vidoes -->

<!--Start Section Our Products-->
<div class="our-products bg-white">
  <div class="text-center">
    <h2
      class="text-center text-uppercase primary-text font-weight-bold fs-25 d-block"
    >
      {{ 'home.ourProductsSection' | translate }}
    </h2>
    <p class="text-center dark-text-alt fs-16 d-block">
      {{ 'home.ourProductsSectionTitle' | translate }}
    </p>
  </div>
  <div class="products-box p-lg-3">
    <div class="row px-0 mx-0">
      <!--Start Repeatable col-->
      <div
        class="col-lg-3 col-md-4 col-12 mb-3 b-6"
        *ngFor="let catergory of categories"
        [routerLink]="['/products', catergory.Id]"
      >
        <div class="pro-box position-relative b-6">
          <div class="pro-overlay"></div>
          <div class="hovering-overlay"></div>

          <!-- <img [src]="catergory.ImageURL" style="width: 100%;" alt="products" /> -->

          <!-- Sliderrrrr -->
          <mdb-carousel [animation]="'slide'" [isControls]="false">
            <mdb-carousel-item
              *ngFor="let img of catergory.ImageURLs; let i = index"
              style="height: 247px;"
            >
              <img [src]="img" class="w-100 h-100" alt="products" />
            </mdb-carousel-item>
          </mdb-carousel>

          <div class="pro-caption text-center">
            <span class="title fs-20 font-weight-bold text-white d-block">{{
              lang.userLang === 'ar' ? catergory.Title_Ar : catergory.Title
            }}</span>
            <button
              type="button"
              class="btn btn-sm fs-16 text-white b-18 d-block mx-auto white-border px-4"
            >
              {{ 'home.viewDetails' | translate }}
            </button>
          </div>
        </div>
      </div>
      <!--End Repeatable col-->

      <!--End Repeatable col-->
    </div>
    <div class="text-center mt-4">
      <a
        [routerLink]="['/categories']"
        routerLinkActive="router-link-active"
        href="#"
        class="btn btn-sm px-4 primary-border primary-text b-18 bg-white fs-16"
      >
        {{ 'home.checkAllProducts' | translate }}</a
      >
    </div>
  </div>
</div>
<!--End Section Our Products-->

<!--Start Section Testimonials-->
<div class="testimonial">
  <div class="text-center">
    <h2
      class="text-center text-uppercase text-white font-weight-bold fs-25 d-block"
    >
      {{ 'home.clientsFeedbackTitle1' | translate }}
    </h2>
    <!-- <p class="text-center text-white fs-16 d-block mb-5">
      {{ 'home.clientsFeedbackTitle2' | translate }}
    </p> -->
  </div>

  <!--Start Slider Inside Testimonials-->
  <div
    id="carouselId3"
    class="carousel slide"
    data-ride="carousel"
    data-interval="10000"
    data-pause="false"
  >
    <ol class="bullets carousel-indicators">
      <li
        *ngFor="let feedBack of clientsFeedback; let i = index"
        data-target="#carouselId3"
        data-slide-to="i"
        [ngClass]="{ active: i === 0 }"
        class="active"
      ></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Start Repeatable DIV-->

      <div
        *ngFor="let feedBack of clientsFeedback; let i = index"
        class="carousel-item"
        [ngClass]="{ active: i === 0 }"
      >
        <div class="row mx-0 px-0">
          <div class="col-lg-6 col-12">
            <div class="testi-card b-6">
              <blockquote class="text-white fs-16 text-left">
                &ldquo;
                {{
                  lang.userLang === 'ar'
                    ? feedBack[0].Message_Ar
                    : feedBack[0].Message
                }}
                &rdquo;
              </blockquote>
            </div>
            <div
              class="reviewer d-flex align-items-center justify-content-start pt-lg-4 pt-3 mb-lg-0 mb-5"
            >
              <img
                [src]="feedBack[0].ImageURL"
                height="85"
                width="85"
                alt="reviewer"
                class="mr-4 rounded-circle"
              />
              <div>
                <span class="text-white fs-16 text-left d-block">{{
                  lang.userLang === 'ar'
                    ? feedBack[0].ClientName_Ar
                    : feedBack[0].ClientName
                }}</span>
                <span class="primary-alt-text text-left fs-14 d-block">{{
                  lang.userLang === 'ar'
                    ? feedBack[0].ClientPosition_Ar
                    : feedBack[0].ClientPosition
                }}</span>
              </div>
            </div>
          </div>
          <div *ngIf="feedBack[1]" class="col-lg-6 col-12">
            <div class="testi-card b-6">
              <blockquote class="text-white fs-16 text-left">
                &ldquo;
                {{
                  lang.userLang === 'ar'
                    ? feedBack[1].Message_Ar
                    : feedBack[1].Message
                }}
                &rdquo;
              </blockquote>
            </div>
            <div
              class="reviewer d-flex align-items-center justify-content-start pt-lg-4 pt-3 mb-lg-0 mb-5"
            >
              <img
                [src]="feedBack[1].ImageURL"
                height="85"
                width="85"
                alt="reviewer"
                class="mr-4 rounded-circle"
              />
              <div>
                <span class="text-white fs-16 text-left d-block">{{
                  lang.userLang === 'ar'
                    ? feedBack[1].ClientName_Ar
                    : feedBack[1].ClientName
                }}</span>
                <span class="primary-alt-text text-left fs-14 d-block">{{
                  lang.userLang === 'ar'
                    ? feedBack[1].ClientPosition_Ar
                    : feedBack[1].ClientPosition
                }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--End Slider Inside Testimonials-->
</div>
<!--End Section Testimonials-->

<!--Start Section news-events-->
<div class="section-news-events bg-white">
  <div class="text-center">
    <h2
      class="text-center text-uppercase primary-text font-weight-bold fs-25 d-block"
    >
      {{ 'home.newsSection' | translate }}
    </h2>
    <p class="text-center dark-text-alt fs-16 d-block">
      {{ 'home.newsSectionTitle' | translate }}
    </p>
  </div>
  <div class="news-box p-lg-3">
    <div class="row px-0 mx-0">
      <!--Start Repeatable col-->
      <div
        *ngFor="let item of news"
        class="col-lg-4 col-md-6 col-12 mb-3 b-6"
        style="height: 455px;"
      >
        <div class="card h-100 border-0 b-6">
          <!-- <img
            class="card-img-top b-6"
            style="border-bottom-left-radius: 0; border-bottom-right-radius: 0; height: 250px;;"
            [src]="item.ImageURL"
            alt="news"
          /> -->

          <mdb-carousel [animation]="'slide'" [isControls]="false">
            <mdb-carousel-item
              *ngFor="let img of item.ImageURL.split(','); let i = index"
              style="height: 247px;"
            >
              <img
                class="card-img-top b-6"
                style="border-bottom-left-radius: 0; border-bottom-right-radius: 0; height: 250px;;"
                [src]="img"
                alt="news"
              />
            </mdb-carousel-item>
          </mdb-carousel>

          <div
            class="card-body"
            style="border: 1px solid #ffa200; border-top: 0;"
          >
            <h4
              class="card-title text-left fs-20 font-weight-bold dark-text-alt"
            >
              {{ lang.userLang === 'ar' ? item.Title_Ar : item.Title }}
            </h4>
            <p class="card-text text-left fs-16 dark-text-alt">
              {{
                lang.userLang === 'ar' ? item.Description_Ar : item.Description
              }}
            </p>
          </div>
        </div>
      </div>
      <!--End Repeatable col-->
    </div>
    <div class="text-center mt-lg-5">
      <a
        href="#"
        [routerLink]="['/newsAndEvents']"
        routerLinkActive="router-link-active"
        class="btn btn-sm px-4 primary-border primary-text b-18 bg-white fs-16"
      >
        {{ 'home.checkAllNews' | translate }}</a
      >
    </div>
  </div>
</div>
<!--End Section news-events-->

<!--Start Section Our Clients-->
<div class="our-clients ">
  <div class="text-center pb-5 mb-3">
    <h2
      class="text-center text-uppercase primary-text font-weight-bold fs-25 d-block"
    >
      {{ 'home.ourclients' | translate }}
    </h2>
    <p class="text-center dark-text-alt fs-16 d-block">
      {{ 'home.ourclientsTitle' | translate }}
    </p>
  </div>
  <div class="px-5" style="direction: ltr !important;">
    <div class="slider demo">
      <div>
        <img
          class="client-img"
          src="assets/imgs/clients/hilton.png"
          width="110"
          height="90"
          alt="clients"
        />
      </div>

      <div>
        <img
          class="client-img"
          src="assets/imgs/clients/carrefour.png"
          width="180"
          height="77"
          alt="clients"
        />
      </div>
      <div>
        <img
          class="client-img"
          src="assets/imgs/clients/americana.png"
          width="147"
          height="65"
          alt="clients"
        />
      </div>
      <div>
        <img
          class="client-img"
          src="assets/imgs/clients/danone.png"
          width="143"
          height="70"
          alt="clients"
        />
      </div>
      <div>
        <img
          class="client-img"
          src="assets/imgs/clients/juhayna.png"
          width="143"
          height="74"
          alt="clients"
        />
      </div>
      <div>
        <img
          class="client-img"
          src="assets/imgs/clients/amer-group.png"
          width="145"
          height="70"
          alt="clients"
        />
      </div>
    </div>
  </div>
</div>
<!--End Section Our Clients-->
