<!--Start BreadCrumb-->
<div class="breadcrumb primary-bg br-0 mb-0">
  <span class="breadcrumb-item text-white cursor-pointer">Home</span>
  <span class="breadcrumb-item text-white"><i class="fa fa-angle-right"></i></span>
  <span class="breadcrumb-item text-white cursor-pointer">Certificates Categories</span>
</div>
<!--End BreadCrumb-->
<!--Start Section Our Products-->
<div class="our-products" style="background: #EAEEF2">
  <div class="text-center pb-lg-5 pb-4">
    <h2 class="text-center text-uppercase primary-text font-weight-bold fs-45 d-block">
      Certificates Categories
    </h2>
  </div>
  <div class="products-box cat-certificates p-lg-3">
    <div class="row px-lg-5 mx-0">

      <!--Start Repeatable col-->
      <div class="col-lg-6 col-md-4 col-12 mb-4 b-6">
        <div class="pro-box position-relative b-6 bg-white text-center p-2">
          <div class="d-flex align-items-center">
            <img src="assets/imgs/clients/Image-cat.png" alt="products" class="pr-3" />
            <p class="fs-18 font-weight-bold primary-text mb-0">Certificate NO 1</p>
          </div>
          <div class="pdf py-2 px-3 d-flex justify-content-between align-items-center ml-auto">
            <div class="d-flex align-items-center">
              <img class="" src="assets/imgs/icons/pdf.png" alt="pdf">
              <span class="pl-3">
                <span class="d-block dark-text-alt fs-14">Certificate NO 1</span>
                <span class="d-block primary-text fs-12">120 KB</span>
              </span>
            </div>
            <img class="" src="assets/imgs/icons/down-arrow.png" alt="pdf">
          </div>
        </div>
      </div>
      <!--End Repeatable col-->
      <!--Start Repeatable col-->
      <div class="col-lg-6 col-md-4 col-12 mb-4 b-6">
        <div class="pro-box position-relative b-6 bg-white text-center p-2">
          <div class="d-flex align-items-center">
            <img src="assets/imgs/clients/Image-cat.png" alt="products" class="pr-3" />
            <p class="fs-18 font-weight-bold primary-text mb-0">Certificate NO 1</p>
          </div>
          <div class="pdf py-2 px-3 d-flex justify-content-between align-items-center ml-auto">
            <div class="d-flex align-items-center">
              <img class="" src="assets/imgs/icons/pdf.png" alt="pdf">
              <span class="pl-3">
                <span class="d-block dark-text-alt fs-14">Certificate NO 1</span>
                <span class="d-block primary-text fs-12">120 KB</span>
              </span>
            </div>
            <img class="" src="assets/imgs/icons/down-arrow.png" alt="pdf">
          </div>
        </div>
      </div>
      <!--End Repeatable col-->
      <!--Start Repeatable col-->
      <div class="col-lg-6 col-md-4 col-12 mb-4 b-6">
        <div class="pro-box position-relative b-6 bg-white text-center p-2">
          <div class="d-flex align-items-center">
            <img src="assets/imgs/clients/Image-cat.png" alt="products" class="pr-3" />
            <p class="fs-18 font-weight-bold primary-text mb-0">Certificate NO 1</p>
          </div>
          <div class="pdf py-2 px-3 d-flex justify-content-between align-items-center ml-auto">
            <div class="d-flex align-items-center">
              <img class="" src="assets/imgs/icons/pdf.png" alt="pdf">
              <span class="pl-3">
                <span class="d-block dark-text-alt fs-14">Certificate NO 1</span>
                <span class="d-block primary-text fs-12">120 KB</span>
              </span>
            </div>
            <img class="" src="assets/imgs/icons/down-arrow.png" alt="pdf">
          </div>
        </div>
      </div>
      <!--End Repeatable col-->
      <!--Start Repeatable col-->
      <div class="col-lg-6 col-md-4 col-12 mb-4 b-6">
        <div class="pro-box position-relative b-6 bg-white text-center p-2">
          <div class="d-flex align-items-center">
            <img src="assets/imgs/clients/Image-cat.png" alt="products" class="pr-3" />
            <p class="fs-18 font-weight-bold primary-text mb-0">Certificate NO 1</p>
          </div>
          <div class="pdf py-2 px-3 d-flex justify-content-between align-items-center ml-auto">
            <div class="d-flex align-items-center">
              <img class="" src="assets/imgs/icons/pdf.png" alt="pdf">
              <span class="pl-3">
                <span class="d-block dark-text-alt fs-14">Certificate NO 1</span>
                <span class="d-block primary-text fs-12">120 KB</span>
              </span>
            </div>
            <img class="" src="assets/imgs/icons/down-arrow.png" alt="pdf">
          </div>
        </div>
      </div>
      <!--End Repeatable col-->
      <!--Start Repeatable col-->
      <div class="col-lg-6 col-md-4 col-12 mb-4 b-6">
        <div class="pro-box position-relative b-6 bg-white text-center p-2">
          <div class="d-flex align-items-center">
            <img src="assets/imgs/clients/Image-cat.png" alt="products" class="pr-3" />
            <p class="fs-18 font-weight-bold primary-text mb-0">Certificate NO 1</p>
          </div>
          <div class="pdf py-2 px-3 d-flex justify-content-between align-items-center ml-auto">
            <div class="d-flex align-items-center">
              <img class="" src="assets/imgs/icons/pdf.png" alt="pdf">
              <span class="pl-3">
                <span class="d-block dark-text-alt fs-14">Certificate NO 1</span>
                <span class="d-block primary-text fs-12">120 KB</span>
              </span>
            </div>
            <img class="" src="assets/imgs/icons/down-arrow.png" alt="pdf">
          </div>
        </div>
      </div>
      <!--End Repeatable col-->
      <!--Start Repeatable col-->
      <div class="col-lg-6 col-md-4 col-12 mb-4 b-6">
        <div class="pro-box position-relative b-6 bg-white text-center p-2">
          <div class="d-flex align-items-center">
            <img src="assets/imgs/clients/Image-cat.png" alt="products" class="pr-3" />
            <p class="fs-18 font-weight-bold primary-text mb-0">Certificate NO 1</p>
          </div>
          <div class="pdf py-2 px-3 d-flex justify-content-between align-items-center ml-auto">
            <div class="d-flex align-items-center">
              <img class="" src="assets/imgs/icons/pdf.png" alt="pdf">
              <span class="pl-3">
                <span class="d-block dark-text-alt fs-14">Certificate NO 1</span>
                <span class="d-block primary-text fs-12">120 KB</span>
              </span>
            </div>
            <img class="" src="assets/imgs/icons/down-arrow.png" alt="pdf">
          </div>
        </div>
      </div>
      <!--End Repeatable col-->




    </div>
  </div>
</div>
<!--End Section Our Products-->